<div class="container">
	<div class="card" style="align-items: center; justify-content: center;">
		<div id="NameContainerWelcome">¡Bienvenido a TecnoMax!</div>
		<div id="DescriptionContainer">
			<div class="content">
				Tu tienda online de tecnología favorita. Encuentra smartphones,
				tablets, accesorios y mucho más al mejor precio.
			</div>
		</div>
		<div id="BtnContainer">
			<div style="display: flex; gap: 1rem; justify-content: center;">
				<a href="/ProductosPage?categoria=">
					<button id="btn_ver">Ver productos</button>
				</a>
			</div>
		</div>
	</div>

	<div class="card">
		<div id="ImageContainer">
			<img id="image" src="/public/iphone.png" />
		</div>
		<div class="NameContainer">Smartphones</div>
		<div id="DescriptionContainer">
			<div class="content">
				Últimos modelos al mejor precio. Encuentra el smartphone ideal
				para ti, con envío gratuito y garantía extendida.
			</div>
		</div>
		<div id="BtnContainer">
			<a href="/ProductosPage?categoria=category/smartphones">
				<button id="btn_comprar">Explorar</button>
			</a>
		</div>
	</div>

	<div class="card">
		<div id="ImageContainer">
			<img id="image" src="/public/audifonos.avif" />
		</div>
		<div class="NameContainer">Accesorios</div>
		<div id="DescriptionContainer">
			<div class="content">
				Cargadores, fundas, auriculares y mucho más. Mejora tu
				experiencia tecnológica con nuestros accesorios premium.
			</div>
		</div>
		<div id="BtnContainer">
			<a href="/ProductosPage?categoria=category/mobile-accessories">
				<button id="btn_comprar">Ver accesorios</button>
			</a>
		</div>
	</div>

	<div class="card" id="ofertas">
		<div id="ImageContainer">
			<img id="image" src="/public/oferta.webp" />
		</div>
		<div class="NameContainer">¡Oferta especial Tablets!</div>
		<div id="DescriptionContainer">
			<div class="content">
				Compra el <strong>Samsung Galaxy Tab</strong> con un 30% de descuento
				solo por esta semana. Potencia, diseño y rendimiento a tu alcance.
			</div>
		</div>
		<div id="BtnContainer">
			<a href="/ProductosPage?categoria=category/tablets">
				<button id="btn_ver">Comprar ahora</button>
			</a>
		</div>
	</div>
</div>

<style>
	.container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 1.5rem;
		padding: 2rem;
		background-image: url("/src/assets/background.svg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		margin-top: 5em;
	}
	@media (max-width: 1128px) {
		.container {
			margin-top: 12em;
		}
	}

	.card {
		background-color: rgb(245, 245, 247);
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		display: flex;
		flex-direction: column;
		padding: 1rem;
		gap: 1rem;
		color: #333;
		text-align: center;
	}

	#ImageContainer {
		height: 180px;
		background-color: #ddd;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 20px;
		overflow: hidden;
	}

	#image {
		width: 100%;
		object-fit: cover;
		border-radius: 8px;
	}

	.content {
		padding: 0.5rem;
		border-radius: 4px;
	}

	#DescriptionContainer {
		font-size: 17px;
		line-height: 1.4705882353;
		font-weight: 400;
		letter-spacing: -0.022em;
		font-family:
			SF Pro Text,
			SF Pro Icons,
			Helvetica Neue,
			Helvetica,
			Arial,
			sans-serif;
	}

	.NameContainer {
		font-size: 28px;
		line-height: 1.1428571429;
		font-weight: bold;
		letter-spacing: 0.007em;
		font-family:
			SF Pro Display,
			SF Pro Icons,
			Helvetica Neue,
			Helvetica,
			Arial,
			sans-serif;
	}

	#btn_ver {
		background-color: rgb(0, 113, 227);
		color: white;
		border-radius: 20px;
		padding: 10px;
		font-size: 17px;
		border-color: rgb(0, 113, 227);
	}

	#btn_ver:hover {
		background-color: rgb(245, 245, 247);
		color: rgb(0, 113, 227);
		cursor: pointer;
		border-color: rgb(0, 113, 227);
	}

	#btn_comprar {
		background-color: rgb(245, 245, 247);
		color: rgb(0, 113, 227);
		font-size: 17px;
		padding: 10px;
		border-radius: 20px;
		border-color: rgb(0, 113, 227);
	}

	#btn_comprar:hover {
		background-color: rgb(0, 95, 191);
		cursor: pointer;
		color: white;
	}

	#NameContainerWelcome {
		background: linear-gradient(
			to right,
			#ff0066,
			#ff6600,
			#902fbd,
			#11bddb,
			#0000ff
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-size: 28px;
		line-height: 1.1428571429;
		font-weight: bold;
		letter-spacing: 0.007em;
		font-family:
			SF Pro Display,
			SF Pro Icons,
			Helvetica Neue,
			Helvetica,
			Arial,
			sans-serif;
	}
</style>
